*{/*No deja sangria en toda la pantalla*/
	margin: 0;
	padding: 0;
}

header{
	width: 100%;
	background: rgba(38, 97, 156,.8);
	height: 40px;
	position: fixed;/*Deja el menu fijo*/
	z-index: 10;/*Indica la importancia de una caja, entre mas alto
	 sea el numero mayor importacia tendra*/
}

body{
	background-size: 100% 100%;
	background-attachment: fixed; 
}


.ancho{
	width: 80%;
	height: 70px;
	margin: auto;
}

			
			
			ul, ol {
				list-style:none;
			}
			
			.nav > li {
				float:right;
			}
			
			.nav li a {
				color:#fff;
				text-decoration:none;
				padding:10px 12px;
				display:block;
			}
			
			.nav li a:hover {
				background: rgba(38, 97, 156,.8);
			}
			
			.nav li ul {
				display:none;
				position:absolute;
				min-width:140px;
			}
			
			.nav li:hover > ul {
				display:block;
			}
			
			.nav li ul li {
				position:relative;
			}
			
			.nav li ul li ul {
				right:-140px;
				top:0px;
			}
.botones{
	float: none;
	text-align: center;
	padding-top: 300px;
}

.formulario{
	float: none;
	text-align: center;
	padding-top: 200px;
}